# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
import random

In [2]:
df = pd.read_csv('jeopardy.csv')
print(df.columns)
df.rename(columns={'Show Number': 'Show Number', ' Air Date': 'Air Date', ' Round': 'Round', ' Category': 'Category', ' Value': 'Value',
       ' Question': 'Question', ' Answer': 'Answer'}, inplace=True)
print(df.columns)
print(df.head())

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')
   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [17]:
def contain_words(words, dataset):
    my_lambda = lambda question: all(' ' + word.lower() + ' ' in question.lower() for word in words)
    result = dataset.loc[dataset['Question'].apply(my_lambda)]
    return result
        
result = contain_words(['King','England'], df)
print(result['Question'])
print(len(result))

6337                           In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                                         This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
13454                                                            It's the number that followed the last king of England named William
18076                                 In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus
19168                                                       He was the only king of England to have "The Great" tacked on to his name
21511                                                    this man and his son ruled England following the execution of King Charles I
23810                            William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
23979                                  This "unready" king of England lost most of his country to Sven Forkbeard, the king of Denmark
26780                                                     This king of England was killed by a Norman arrow at the Battle of Hastings
33174                                                                          This king of England was a leader of the Third Crusade
49994                                          Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
57479                                                               He was the last of the 3 men who were king of England during 1066
58949                                           He became King of England in 1399 after forcing his cousin Richard II from the throne
66520                                  This king called "the Great" beat the Danes in 886 to keep all of England from being conquered
72582                                     This current king of Jordan received part of his education in England at Harrow & Sandhurst
77195                             He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
78510                             Henry II, who succeeded Stephen as king of England in 1154, was the first monarch from this "house"
82525                                                    The "rump" parliament wanted him to be the last king England would ever name
86412                                            This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                               This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
90084                                                                      He was "the Confessor" king of England in the 11th century
94425                                                                           From 1714 to 1830 every king of England had this name
95019                               Regent for his predecessor from 1811 to 1820, he was king of England on his own from 1820 to 1830
103704                                                                        This king of England was the grandfather of Elizabeth I
115727                                                           In 1191, Berengaria married this king of England in Limassol, Cyprus
118809                                                               In French this King of England is called Guillaume le Conquerant
127484                                   Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                     This state was named for the King of England who reigned from 1727 to 1760
137818                                                           The last King William to rule England had this number after his name
140080                                         In 1191 this "Lion-Hearted" king of England captured Cyprus & Acre during the Crusades
140941              Dutch-born Protestant Prince William of Orange became king of England after this Catholic king was deposed & fled
148910                     On his way back from failing to take Jerusalem in 1192, this king of England was captured & later ransomed
150622                                                      The only king of England named Stephen was the grandson of this conqueror
150880                                                          During Stanley Baldwin's term as P.M., this King of England abdicated
151335                                   2000 saw a fight in England over running the lottery, with this Virgin king at the forefeont
151746                                             Colchester, England was named for this legendary Celtic king immortalized in rhyme
158120                  This Dutch-born English king introduced gin to England as the "pouring spirit" in the palace at Hampton Court
159374                                                        A translation of the Bible is named for this king of England & Scotland
159378                This king divorced the Church of England from the Catholic Church so that he could divorce the first of 6 wives
167337                                                                 The last Anglo-Saxon king of England was killed in this battle
174055                                                               This conqueror was crowned King of England on Christmas Day 1066
175259                                                                             His short reign as King of England fell in in 1936
178590                                       He succeeded Henry II as king of England in 1189 & was himself succeeded by John in 1199
178921                                                                   Richard was crowned king of England at this place of worship
186239              He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
190102                                                  The man who became king of England in 1066 was succeeded by this king in 1087
191531    On Jan. 28, 1547, after a physical & mental decline, this king of England was (surprisingly) survived by his wife Catherine
195099                                In 1714 the Prince of Hanover, who spoke little English, became king of England under this name
200369                8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
208742                                           Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
216021                               His nickname was "Bertie", but he used this name & number when he became king of England in 1901
Name: Question, dtype: object
51

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [4]:
result = contain_words(['street'], df)
print(result)

        Show Number    Air Date             Round              Category  \
167            3751  2000-12-18  Double Jeopardy!           ANDY WARHOL
1905           3447  1999-09-07  Double Jeopardy!     ARE WE THERE YET?
2104           5981  2010-09-20         Jeopardy!           GOOD CAUSES
2460           5145  2007-01-12         Jeopardy!      THE ENGLISH BEAT
2463           5145  2007-01-12         Jeopardy!      THE REPLACEMENTS
...             ...         ...               ...                   ...
213775         4602  2004-09-14         Jeopardy!         NEW YORK CITY
213786         4602  2004-09-14         Jeopardy!  THE TALES OF HOFFMAN
215652         4250  2003-02-07  Double Jeopardy!     MIND MISS MANNERS
215821         5069  2006-09-28  Double Jeopardy!                PRAGUE
215977         1881  1992-11-09         Jeopardy!        "T" ON THE MAP

         Value  \
167     $2,000
1905      $500
2104    $2,000
2460      $600
2463      $800
...        ...
213775  $1,400
213786    $800
215652   $1200
215821    $400
215977    $200

                                                                                                                                                                                                                                                                                                                                                                        Question  \
167                                                                                                                                                                                                                                                                    Andy's loft on East 47th Street got this nickname from its former use & Andy's mass-production techniques
1905                                                                                                                                                                                                                                                                                  The Congress Street Bridge is where Bostonians recreate this historic event every December
2104                                                                                                                                                                                                                                                               A "Mission" to help the homeless is named for this Lower Manhattan street known as a skid row since the 1800s
2460                                                                                                                                                                                                                                                                                                       In 1964 a Shakespeare center was opened on Henley Street in this city
2463                                                                                                                                                                                                                                                             George Williams founded the association familiarly known as this to replace life on the street with Bible study
...                                                                                                                                                                                                                                                                                                                                                                          ...
213775                                                                                                                                                                                                                                                                                             The heart of Little Italy is this street also found in a Dr. Seuss book title
213786                                                                                                                                                                                                                                                            "Everybody's Talkin'" served as the theme to this 1969 film in which Hoffman played street hustler Ratso Rizzo
215652                                                                                                                                                                                                                                                     When 2 people are walking down the street sharing an umbrella, this person should have the sense to hold the umbrella
215821  (<a href="http://www.j-archive.com/media/2006-09-28_DJ_16.jpg" target="_blank">Jimmy of the Clue Crew hangs out on a street in Prage, Czech Republic.</a>)  Legend says the <a href="http://www.j-archive.com/media/2006-09-28_DJ_16a.jpg" target="_blank">upper part</a> of Prague's Old-New Synagogue holds the remains of this clay giant created to protect the Jews
215977                                                                                                                                                                                                                                                                                                        Bay Street is the heart of this Canadian city's financial district

                                              Answer
167                                      The Factory
1905                                Boston Tea Party
2104                                          Bowery
2460                             Stratford-upon-Avon
2463    the Young Men's Christian Association (YMCA)
...                                              ...
213775                               Mulberry Street
213786                               Midnight Cowboy
215652                             the taller person
215821                                     the golem
215977                                       Toronto

[439 rows x 7 columns]

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [5]:
df['Points'] = df['Value'].replace('[\$,]','', regex=True)
df['Points'] = df['Points'].replace('None', '0', regex=False)
df['Points'] = pd.to_numeric(df.Points, downcast='float')

print('Overall mean: ', df.Points.mean())
def check_difficulty(words, dataset):
    filtered = contain_words(words, dataset)
    result2 = filtered.Points.mean()
    print(f'Difficulty of questions that contain the word {words}: {result2}')
    return result2

check_difficulty(['person'], df)

Overall mean:  739.7422485351562
Difficulty of questions that contain the word ['person']: 694.1818237304688

694.1818237304688

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [6]:
def unique_answers(words, dataset):
    filtered = contain_words(words, dataset)
    result3 = filtered.Answer.value_counts()
    return result3
    
print(unique_answers(['King'], df))

Henry VIII                           31
Richard III                          20
Sweden                               18
Norway                               18
Solomon                              17
                                     ..
Bad, Bad Leroy Brown                  1
Elephants                             1
Deborah Kerr                          1
Ruritania                             1
a pyramid (the pyramids accepted)     1
Name: Answer, Length: 1040, dtype: int64

In [7]:
print(df.Answer.iloc[105388])
def contain_words_in_answer(words, dataset):
    new_df = contain_words(['king'], dataset)
    my_lambda2 = lambda answer: all(word.lower() in str(answer).lower() for word in words)
    filtered = new_df.loc[new_df['Answer'].apply(my_lambda2)]
    lenght = filtered.Answer.apply(lambda answer: len(answer))
    return lenght.value_counts()

print(contain_words_in_answer(["Henry VIII"], df))

King Henry VIII
10    31
15     1
Name: Answer, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [8]:
print(df.columns)
print(df['Air Date'].head())
df['Year'] = df['Air Date'].str[:4]
df.Year = pd.to_numeric(df.Year)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer', 'Points'],
      dtype='object')
0    2004-12-31
1    2004-12-31
2    2004-12-31
3    2004-12-31
4    2004-12-31
Name: Air Date, dtype: object

In [9]:
# Questions in the 1990s and in the 2000s by word
def contain_words_by_year(words, dataset):
    filtered = contain_words(words, dataset)
    questions_1990 = filtered[filtered.Year <= 2000]
    questions_1990 = len(questions_1990[questions_1990.Year > 1990])
    questions_2000 = len(filtered[filtered.Year > 2000])
    return f'Questions 1990s: {questions_1990}; Questions 2000s: {questions_2000}'
    
print(contain_words_by_year(['street'], df))

Questions 1990s: 146; Questions 2000s: 273

In [38]:
# Category vs Round
category_round = df.groupby(['Round', 'Category'])['Question'].count().reset_index()
print(category_round)
df_single = df[df['Round'] == 'Jeopardy!']
category_single = df_single.groupby('Category')['Question'].count().reset_index()
print('*** Single ***')
print(category_single)
df_double = df[df['Round'] == 'Double Jeopardy!']
category_double = df_double.groupby('Category')['Question'].count().reset_index()
print('*** Double ***')
print(category_double)
df_tiebreaker = df[df['Round'] == 'Tiebreaker']
category_tiebreaker = df_tiebreaker.groupby('Category')['Question'].count().reset_index()
print('*** Tiebreaker ***')
print(category_tiebreaker)

                  Round                 Category  Question
0      Double Jeopardy!                  "-ARES"         5
1      Double Jeopardy!            "...OD" WORDS         5
2      Double Jeopardy!            "1", "2", "3"         5
3      Double Jeopardy!           "20" QUESTIONS         5
4      Double Jeopardy!                  "A" + 4         5
...                 ...                      ...       ...
31681         Jeopardy!                  “NORTH”         5
31682         Jeopardy!                “STREETS”         5
31683        Tiebreaker             CHILD'S PLAY         1
31684        Tiebreaker      LITERARY CHARACTERS         1
31685        Tiebreaker  THE AMERICAN REVOLUTION         1

[31686 rows x 3 columns]
*** Single ***
                          Category  Question
0       A JIM CARREY FILM FESTIVAL         5
1                              "!"         5
2              "-ICIAN" EXPEDITION         5
3                        "A" & "E"         5
4                        "A" & "M"         5
...                            ...       ...
15150               “A” IN SCIENCE         5
15151                         “CC”         5
15152                    “G” WHIZ!         5
15153                      “NORTH”         5
15154                    “STREETS”         5

[15155 rows x 2 columns]
*** Double ***
                     Category  Question
0                     "-ARES"         5
1               "...OD" WORDS         5
2               "1", "2", "3"         5
3              "20" QUESTIONS         5
4                     "A" + 4         5
...                       ...       ...
14571  “HARD” & “EASY” MOVIES         5
14572              “R” MOVIES         5
14573                “SAINTS”         4
14574                 “SOUTH”         5
14575           “WH”AT IS IT?         5

[14576 rows x 2 columns]
*** Tiebreaker ***
                  Category  Question
0             CHILD'S PLAY         1
1      LITERARY CHARACTERS         1
2  THE AMERICAN REVOLUTION         1

In [10]:
# Category vs Round (refactoring)
def category_round(dataset):
    rounds = dataset['Round'].unique()
    my_lambda_6_2 = lambda category: all(category in category for round in rounds)
    filtered = dataset.loc[dataset['Category'].apply(my_lambda_6_2)]
    result = filtered.groupby(['Round', 'Category'])['Question'].count().reset_index()
    return result
    
print(category_round(df))

                  Round                 Category  Question
0      Double Jeopardy!                  "-ARES"         5
1      Double Jeopardy!            "...OD" WORDS         5
2      Double Jeopardy!            "1", "2", "3"         5
3      Double Jeopardy!           "20" QUESTIONS         5
4      Double Jeopardy!                  "A" + 4         5
...                 ...                      ...       ...
31681         Jeopardy!                  “NORTH”         5
31682         Jeopardy!                “STREETS”         5
31683        Tiebreaker             CHILD'S PLAY         1
31684        Tiebreaker      LITERARY CHARACTERS         1
31685        Tiebreaker  THE AMERICAN REVOLUTION         1

[31686 rows x 3 columns]

In [15]:
# Build a system to quiz yourself. Grab random questions, and use the input function to get a response 
# from the user. 
# Check to see if that response was right or wrong.

def quiz(dataset):
    number = random.randint(0,216930)
    question = dataset.Question.iloc[number]
    print(question)
    answer = input("Your response: ")
    print("Your response:", answer)
    print("Your response is ...")
    if answer == dataset.Answer.iloc[number]:
        point = dataset.Points.iloc(number)
        print("... Right!!!")
    else:
        point = 0
        print("... Wrong :(")
        print("The answer is", dataset.Answer.iloc[number])
    return point

def game(dataset):
    score = 0
    for n in range(5):
        score += quiz(df)
    print("Thanks for playing!")
    print("Your score:", score)

game(df)

This South American liberator spent time as an exile in Haiti
Your response: Ernesto Che Guevara
Your response: Ernesto Che Guevara
Your response is ...
... Wrong :(
The answer is Simon Bolivar
An echoing rock in the Rhine River is named for this legendary siren who lured fishermen to destruction
Your response: Sohento
Your response: Sohento
Your response is ...
... Wrong :(
The answer is Lorelei
In 1950 this former Army chief of staff & secretary of state became secretary of defense
Your response: m
Your response: m
Your response is ...
... Wrong :(
The answer is George Marshall
Published in 1985, "The Tenth Man" was a long-lost novella written by this "Third Man" author back in 1944
Your response: o
Your response: o
Your response is ...
... Wrong :(
The answer is Graham Greene
The last chapter of this Charlotte Bronte novel begins with the words "Reader, I married him"
Your response: p
Your response: p
Your response is ...
... Wrong :(
The answer is Jane Eyre
Thanks for playing!
Your score: 0

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.